cargo-features = ["edition2024"]

[package]
name = "cmd"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.39"
clap = { version = "4.5.23", features = ["derive", "suggestions"] }
clap_complete = "4.5.38"
derive = "1.0.0"
directories = "5.0.1"
git2 = "0.19.0"
lazy_static = "1.5.0"
reqwest = { version = "0.12.9", features = ["blocking"] }
rusqlite = { version = "0.32.1", features = ["bundled"] }
tokio = { version = "1.42.0", features = ["full"] }
